/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.clear  {
    clear: both;
}

.row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.justify-content-between {
    justify-content: space-between;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

#main {

}

#header {
    height: 46px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: inline-block;
}

.nav > li {
    display: inline-block;
    position: relative;
}

.nav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 46px;
    padding: 0 24px;
}

.nav li:hover > a{
    background-color: #CCCCCC;
    color: #000000;
}

.nav .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    min-width: 160px;
    background-color: #ffffff;
}

.nav .submenu:hover .sub-nav {
    display: block;
}

.nav .sub-nav a {
    display: block;
    color: #000000;
    text-transform: none;
    padding: 0 12px;
    line-height: 38px ;
}

.nav .icon-arrow {
    font-size: 14px;
}

#header .search-btn {
    color: #ffffff;
    float: right;
    padding: 0 21px;
}

.search-btn .search-icon {
    line-height: 46px;
    font-size: 20px;
    font-weight: bold;
}

.search-btn:hover  {
    background-color: #f44336;
    cursor: pointer;
}

#home {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/ny.jpg') top center / cover no-repeat;
    position: relative;
}

#home .text-content {
    position: absolute;
    color: #ffffff;
    font-weight: lighter;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

.text-content h2 {
    font-weight: 500;
    font-size: 24px;
}

.text-content p {
    font-weight: 700;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    margin: auto;
    padding: 64px 0 112px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#content .section-subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about {
    text-align: justify;
    margin-top: 25px;
    line-height: 1.5rem;
}

#content .member-list {
    margin-top: 47px;
}

#content .member-items {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

#content img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#tour {
    background-color: #000000;
    color: #ffffff;
}

#tour .ticket-list {
    background-color: #fff;
    color: #000000;
    margin-top: 40px;

}

.ticket-list li {
    list-style: none;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #F44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    margin: 0px 16px 0 0;
    padding: 0 8px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    line-height: 1.5;
}

.opacity {
    opacity: 0.6;
}

.tour-wrap {
    margin: 48px -8px 48px;
  
}

.tour-place {
    display: inline-block;
    width: 31.33%;
    background-color: #ffffff;
    color: #000000;
    float: left;
    margin: 0 8px;
    left: 0;
    right: 0;
}

#content .tour-place img {
    width: 100%;
    margin-top: 0;
}
#content .tour-place img:hover {
    opacity: 0.6;
}

.tour-place h3, .tour-place p {
    margin: 15px 0; /*Để căn giữa*/
    padding: 0 16px; /*Để căn giữa ảnh*/
} 

.btn {
    background-color: #000;
    text-decoration: none;
    color: #ffffff;
    margin: 16px 16px;
    padding: 11px 16px;
    display: inline-block;
    border: none;
}
.btn:hover {
    background-color: #CCCCCC;
    color: #000000;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}



.modal {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #ffffff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
}

.icon-ticket {
    margin-right: 12px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    color: #000000;
    margin: 15px 0;
}

.modal-input {
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
}

#buy-ticket {
    background-color: #009688;
    display: block;
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    color: #ffffff;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
    padding: 0 24px;
}

/* dùng tạo hình ảnh hoạt họa */
@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
}

.contact-form .contact-input{
    height: 40px;
    border: 1px solid #ccc;
}

.contact-input:nth-child(2) {
      margin-left: 12px;
}

.mt-8 {
    margin-top: 8px;
}

.btn-submit {
    float: right;
    margin-right: -8px;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social a {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social a:hover {
    opacity: 0.5;
}

#footer .copy-right {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}
#footer .copy-right a {
    color: rgba(0, 0, 0, 0.6);

}